<span id="header">Current Goal</span></span>
<hr>
<p><span id="label">Race: </span> <%= current_athlete.goal.name %></p>
<p><span id="label">Distance: </span> <%= current_athlete.goal.distance %> Miles</p>
<p><span id="label">Date: </span> <%= current_athlete.goal.date.to_formatted_s(:long) %> </p>
<p><span id="label">Goal: </span> <%= current_athlete.goal.goal.strftime('%H:%M:%S')%> </p>
<p><span id="label">Countdown: </span>  <%= current_athlete.goal.date.yday- Date.today.yday %> Days</p>