<% provide(:title, current_athlete.name) %>
<div class="row">
  <aside class="span8">
    <section>
      <div class="row">
        <div class="span8">
          <span id="header" style="font-size:24px">Schedule for <%= @fromDate.to_formatted_s(:long) %> to <%= @toDate.to_formatted_s(:long) %></span>
          <hr>
          <p>
            Charlie, no change in mileage this week. I want you to get adjusted to this mileage before hitting the 50+ mark. If all goes well you’ll be holding it for 2 weeks before moving up again. Have a great week and keep me posted.
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="span5">
          <% if current_athlete.workouts.any? %>
            <% if !@current_workout.nil? %>
              <p><h1><%= @current_workout.date.to_formatted_s(:long) %></h1></p>
              <p><span id="header"><%= @current_workout.summary%></span></p>
              <p><span id="label">Miles: </span><%= @current_workout.miles %></p>
              <p><span id="label">Description:</span></p>
              <p><%= @current_workout.description%></p>
            <% else %>
              <h1>No workout Today!</h1>
            <% end %>
          <% else %>
            <h1>No schedule this week</h1>
          <% end %>
        </div>
        <div class="span3">
          <h1>Workout Results</h1>
          <a class="btn btn-success"><i class="icon-chevron-up"></i> Easy</a>
          <a class="btn btn-danger"><i class="icon-chevron-down"></i> Tough</a>
        </div>
      </div>
    </section>
  </aside>
  <div class="span4">
    <div style="border: 4px solid #EEE;padding: 5px ">
      <% if current_athlete.workouts.any? %>
        <%= render 'week_summary' %>
      <% else %>
        <p>No workouts scheduled this week<p>
      <% end %>
    </div>
    <br>
    <div style="border: 4px solid #EEE;padding: 5px">
      <%= render 'goal' %>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="span12">
    <table style="border: 4px solid #EEE;">
      <thead style="background-color:#790C0A;color:white;">
        <th style="width: 134px">Monday</th>
        <th style="width: 134px">Tuesday</th>
        <th style="width: 134px">Wednesday</th>
        <th style="width: 134px">Thursday</th>
        <th style="width: 134px">Friday</th>
        <th style="width: 134px">Saturday</th>
        <th style="width: 134px">Sunday</th>
      </thead>
      <tbody>
        <tr>
          <% @workouts.each do |workout| %> 
          <!--td class="workout" onmouseover="$(this).toggleClass('workout-hover')" onmouseout="$(this).toggleClass('workout-hover')" onclick="$(this).siblings().each(function() { $(this).removeClass('workout-selected') } ); $(this).addClass('workout-selected');">
            <p><span style="color: #333;font-size: 12px;font-weight:bold"><%=workout.summary %></span></p>
            <p><span id="label">Miles: </span><%=workout.miles %></p>
            <p><%=workout.description%></p>
          </td-->
          <td class="workout">
            <p><span style="color: #333;font-size: 12px;font-weight:bold"><%=workout.summary %></span></p>
            <p><span id="label">Miles: </span><%=workout.miles %></p>
            <p><%=workout.description%></p>
          </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>