<% provide(:title, current_athlete.name) %>
<div class="row">
  <aside class="span8">
    <section>
      <div class="row">
        <div class="span8">
          <span id="header" style="font-size:24px">Schedule for <%= @fromDate.to_formatted_s(:long) %> to <%= @toDate.to_formatted_s(:long) %></span>
          <hr>
          <p>
            Charlie, no change in mileage this week. I want you to get adjusted to this mileage before hitting the 50+ mark. If all goes well you’ll be holding it for 2 weeks before moving up again. Have a great week and keep me posted.
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="span5">
          <% if current_athlete.workouts.any? %>
            <p><h1><%= @current_workout.date.to_formatted_s(:long) %></h1></p>
            <p><span id="header"><%= @current_workout.summary%></span></p>
            <p><span id="label">Miles: </span><%= @current_workout.miles %></p>
            <p><span id="label">Description:</span></p>
            <p><%= @current_workout.description%></p>
          <% else %>
            <h1>No schedule this week</h1>
          <% end %>
        </div>
        <div class="span3">
        </div>
      </div>
    </section>
  </aside>
  <div class="span4">
    <div style="border: 4px solid #EEE;padding: 5px ">
      <% if current_athlete.workouts.any? %>
        <span id="header">Week Summary</span>
        <hr>
        <p><span style="text-transform: uppercase;color: #909090;">Workouts: </span><%= current_athlete.workouts.count %></p>
        <p><span style="text-transform: uppercase;color: #909090;">Miles: </span><%= @totalMiles %></p>
      <% else %>
        <p>No workouts scheduled this week<p>
      <% end %>
    </div>
    <br>
    <div style="border: 4px solid #EEE;padding: 5px"><span id="header">Current Goal</span></span>
      <hr>
      <p><span id="label">Race: </span> New York City Marathon</p>
      <p><span id="label">Distance: </span> 26.2 Miles</p>
      <p><span id="label">Date: </span> November 04, 2012</p>
      <p><span id="label">Goal: </span> 03:00:00</p>
      <p><span id="label">Countdown: </span> 13 Weeks</p>
      <!--
      <% if current_athlete.workouts.any? %>
        <span style="font-weight:bold;font-family:'TradeGothicW01-BoldCn20 675334', Calibri, Tahoma,Verdana,Arial,san-serif;font-size: 18px;font-weight: bold;line-height: 1.5;margin-bottom: 0;color:#790C0A;">Week Summary</span>
        <hr>
        <p><span style="text-transform: uppercase;color: #909090;">Workouts: </span><%= current_athlete.workouts.count %></p>
        <p><span style="text-transform: uppercase;color: #909090;">Miles: </span><%= @totalMiles %></p>
      <% else %>
        <p>No workouts scheduled this week<p>
      <% end %>
      -->
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="span12">
    <table style="border: 4px solid #EEE;">
      <thead style="background-color:#790C0A;color:white;">
        <th style="width: 134px">Monday</th>
        <th style="width: 134px">Tuesday</th>
        <th style="width: 134px">Wednesday</th>
        <th style="width: 134px">Thursday</th>
        <th style="width: 134px">Friday</th>
        <th style="width: 134px">Saturday</th>
        <th style="width: 134px">Sunday</th>
      </thead>
      <tbody>
        <tr>
          <% @workouts.each do |workout| %> 
          <!--td class="workout" onmouseover="$(this).toggleClass('workout-hover')" onmouseout="$(this).toggleClass('workout-hover')" onclick="$(this).siblings().each(function() { $(this).removeClass('workout-selected') } ); $(this).addClass('workout-selected');">
            <p><span style="color: #333;font-size: 12px;font-weight:bold"><%=workout.summary %></span></p>
            <p><span id="label">Miles: </span><%=workout.miles %></p>
            <p><%=workout.description%></p>
          </td-->
          <td class="workout">
            <p><span style="color: #333;font-size: 12px;font-weight:bold"><%=workout.summary %></span></p>
            <p><span id="label">Miles: </span><%=workout.miles %></p>
            <p><%=workout.description%></p>
          </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>