<% provide(:title, current_athlete.name) %>

<div class="row">
  <aside class="span8">
    <section>
      <div class="row">
        <div class="span8">
          <span id="header" style="font-size:24px">Schedule for <%= @fromDate.to_formatted_s(:long) %> to <%= @toDate.to_formatted_s(:long) %></span>
          <hr>
          <p>
            Charlie, no change in mileage this week. I want you to get adjusted to this mileage before hitting the 50+ mark. If all goes well you’ll be holding it for 2 weeks before moving up again. Have a great week and keep me posted.
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="span5">
          <%= render 'workout_summary' %>
        </div>
        <div class="span3">
          <h1>Workout Results</h1>
          <a class="btn btn-success"><i class="icon-chevron-up"></i> Easy</a>
          <a class="btn btn-danger"><i class="icon-chevron-down"></i> Tough</a>
        </div>
      </div>
    </section>
  </aside>
  <div class="span4">
    <div style="border: 4px solid #EEE;padding: 5px ">
      <% if current_athlete.workouts.any? %>
        <%= render 'week_summary' %>
      <% else %>
        <p>No workouts scheduled this week<p>
      <% end %>
    </div>
    <br>
    <div style="border: 4px solid #EEE;padding: 5px">
      <span id="header">Current Goal</span>
      <% if !current_athlete.goal.nil? %>
        <%= render 'goal' %>
      <% else %>
          <%= link_to "Create Goal", new_goal_path, class: "btn btn-large btn-primary", style: "margin-left:auto;margin-right:auto;display:block;width:90px;margin-top:10px;margin-bottom:10px"%>
      <% end %> 
    </div>

  </div>
</div> 
<br>
<div class="row">
  <div class="span12">
    <%= render 'week' %>
  </div>
</div>
